.profile__edit-line{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 620px){
    .profile__edit-line{
        margin: 0 auto;
        padding-left: 1.75rem;
        height: 1.625rem;
    }
}