.profile__name{
    font-size: 2.625rem;
    font-weight: 500;
    line-height: 3rem;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 620px){
    .profile__name{
        font-size: 1.688rem;
        line-height: 2.043rem;
        text-align: center;
    }
}